<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>dev-vue</title>
    <link rel="stylesheet" href="sample.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      名前：<input v-model="name">
      コース：<input v-model="cource">
      受講期：<input v-model="acceptancePeriod">
      <br>
      <button v-on:click="addStudent">入力した生徒を追加する</button>
      <ul>
        <li v-for="student in students" v-bind:key="student.id">
          ID {{student.id}} /
          名前 {{student.name}} /
          コース {{student.cource}} /
          受講期 {{student.acceptancePeriod}}
        </li>
      </ul>
      <script src="sample.js"></script>
    </div>
  </body>
</html>
